<!DOCTYPE html> 
<html lang="en"> 
<head>
    <meta charset="utf-8" />
    
    <link rel="shortcut icon" href="@Url.Content("~/Content/images/favicon.ico")" /> 	

    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta http-equiv="X-XSS-Protection" content="0" />
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jQuery.tmpl.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/knockout-1.2.0.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/knockout.mapping-latest.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.js")" type="text/javascript"></script>

    <script type="text/javascript">
        var appInsights=window.appInsights||function(config){
            function i(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},u=document,e=window,o="script",s="AuthenticatedUserContext",h="start",c="stop",l="Track",a=l+"Event",v=l+"Page",y=u.createElement(o),r,f;y.src=config.url||"https://az416426.vo.msecnd.net/scripts/a/ai.0.js";u.getElementsByTagName(o)[0].parentNode.appendChild(y);try{t.cookie=u.cookie}catch(p){}for(t.queue=[],t.version="1.0",r=["Event","Exception","Metric","PageView","Trace","Dependency"];r.length;)i("track"+r.pop());return i("set"+s),i("clear"+s),i(h+a),i(c+a),i(h+v),i(c+v),i("flush"),config.disableExceptionTracking||(r="onerror",i("_"+r),f=e[r],e[r]=function(config,i,u,e,o){var s=f&&f(config,i,u,e,o);return s!==!0&&t["_"+r](config,i,u,e,o),s}),t
         }({
             instrumentationKey: "@Microsoft.ApplicationInsights.Extensibility.TelemetryConfiguration.Active.InstrumentationKey"
         });

         window.appInsights=appInsights;
         appInsights.trackPageView();
    </script>

</head>
<body>
    <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/VGhlIHN0YW5kYXJkIExvcmVtIElwc3VtIHBhc3NhZ2IGFyZSBib3VuZCB0byBlbnN1ZTsgYW5kIGVxdWFsIGJsYW1lIGJlbG9uZ3MgdG8gdGhvc2Ugd2hvIGZhaWwgaW4gdGhlaXIgZHV0eSB0aHJvdWdoIHdlYWtuZXNzIG9mIHdpbGwsIHdoaWNoIGlzIHRoZSBzYW1lIGFzIHNheWluZyB0aHJvdWdoIHNocmlua2luZyBmcm9tIHRvaWwgYW5kIHBhaW4uIFRoZXNlIGNhc2VzIGFyZSBwZXJmZWN0bHkgc2ltcGxlIGFuZCBlYXN5IHRvIGRpc3Rpbmd1aXNoLiBJbiBhIGZyZWUgaG91ciwgd2hlbiBvdXIgcG93ZXIgb2YgY2hvaWNlIGlzIHVudHJhbW1lbGxlZCBhbmQgd2hlbiBub3RoaW5nIHByZXZlbnRzIG91ciBiZWluZyBhYmxlIHRvIGRvIHdoYXQgd2UgbGlrZSBiZXN0LCBldmVyeSBwbGVhc3VyZSBpcyB0byBiZSB3ZWxjb21lZCBhbmQgZXZlcnkgcGFpbiBhdm9pZGVkLiBCdXQgaW4gY2VydGFpbiBjaXJjdW1zdGFuY2VzIGFuZCBvd2luZyB0byB0aGUgY2xhaW1zIG9mIGR1dHkgb3IgdGhlIG9ibGlnYXRpb25zIG9mIGJ1c2luZXNzIGl0IHdpbGwgZnJlcXVlbnRseSBvY2N1ciB0aGF0IHBsZWFzdXJlcyBoYXZlIHRvIGJlIHJlcHVkaWF0ZWQgYW5kIGFubm95YW5jZXMgYWNjZXB0ZWQuIFRoZSB3aXNlIG1hbiB0aGVyZWZvcmUgYWx3YXlzIGhvbGRzIGluIHRoZXNlIG1hdHRlcnMgdG8gdGhpcyBwcmluY2lwbGUgb2Ygc2VsZWN0aW9uOiBoZSByZWplY3RzIHBsZWFzdXJlcyB0byBzZWN1cmUgb3RoZXIgZ3JlYXRlciBwbGVhc3VyZXMsIG9yIGVsc2UgaGUgZW5kdXJlcyBwYWlucyB0byBhdm9pZCB3b3JzZSBwYWlucy4i=" />

        <header>
        
            
         
            <hgroup> 
              <h1><img src="@Url.Content("~/Content/images/logo_text.png")" alt="Contoso Retail" /></h1> 
              <h2>Support</h2> 
            </hgroup> 

            <nav>
                <ul>
                    <li>@Html.ActionLink("Dashboard", "Index", "Home", null, new { id = "dashboard-tab" })</li>
                    <li>@Html.ActionLink("Tickets", "Index", "ServiceTickets", null, new { id = "tickets-tab" })</li>
                    <li>@Html.ActionLink("Customers", "Index", "Customers", null, new { id = "customers-tab" })</li>
                    <li>@Html.ActionLink("Employees", "Index", "Employees", null, new { id = "employees-tab" })</li>
                    <li>@Html.ActionLink("Reports", "Index", "Reports", null, new { id = "reports-tab" })</li>
                </ul>
            </nav>

        </header>

        
        
    <div id="container">
    
            <aside id="profile">

                @if (IsSectionDefined("Left"))
                {
                    RenderSection("Left");
                }
                else
                { 
                    @RenderPage("_Profile.cshtml")  
                }
             
            </aside>
        
            <section id="content">
                
           @RenderBody()
        </section>
      


    <!-- end of container -->
    </div>
    
    <p id="copyright">
        &copy; @(DateTime.Now.Year)  Contoso Retail
    </p>
    <footer>
        <div style="display:table-row">
            <div style="display:table-cell;padding-left:10px">@Html.ActionLink("Logs", "Logs", "Debug")</div>
            <div style="display:table-cell;padding-left:10px">@Html.ActionLink("Dumps", "Dumps", "Debug")</div>
            <div style="display:table-cell;padding-left:10px">@Html.ActionLink("Uploader", "Uploader", "Debug")</div>
        </div>
    </footer>
    <script>
        // Helpers for usage tracking
        function trackClickById(elementId, eventMsg) {
            var thisElement = document.getElementById(elementId);
            if (thisElement) {
                thisElement.onclick = function (e) {
                    appInsights.trackEvent(eventMsg, { "Page Title": document.title });
                };
            } 
         }

        function trackClickByClass(elementClass, eventMsg) {
            var theseElements = document.getElementsByClassName(elementClass);
            if (theseElements) {
                for (var elem of theseElements) {
                    elem.onclick = function (e) {
                        appInsights.trackEvent(eventMsg, { "Page Title": document.title });
                    };
                }                
            }
        }

        // Top-level tabs
        trackClickById("dashboard-tab", "Clicked Dashboard Tab");
        trackClickById("tickets-tab", "Clicked Tickets Tab");
        trackClickById("customers-tab", "Clicked Customers Tab");
        trackClickById("employees-tab", "Clicked Employees Tab");
        trackClickById("reports-tab", "Clicked Reports Tab");

        // Home Page
        trackClickById("create-new-ticket-button", "Clicked Create New Ticket Button");
        trackClickById("my-tickets-button", "Clicked My Tickets Button");
        trackClickById("my-profile-button", "Clicked My Profile Button");
        trackClickById("schedule-button", "Clicked Schedule Button");
        trackClickByClass("ticket-ref-number", "Clicked Ticket Reference Number");

        // Ticket Pages
        trackClickById("assign-ticket-button", "Clicked Assign Ticket Button");
        trackClickById("upper-edit-ticket-button", "Clicked Upper Edit Ticket Button");
        trackClickById("delete-ticket-button", "Clicked Delete Ticket Button");
        trackClickById("escalate-ticket-button", "Clicked Escalate Ticket Button");
        trackClickById("close-ticket-button", "Clicked Close Ticket Button");
        trackClickById("lower-edit-ticket-button", "Clicked Lower Edit Ticket Button");
        trackClickById("back-to-list-button", "Clicked Back to List Button");
        trackClickById("delete-ticket-confirmation-button", "Clicked Delete Ticket Confirmation Button");

        // Customer Pages
        trackClickById("create-new-customer-button", "Clicked Create New Customer Button");
        trackClickByClass("edit-customer-button", "Clicked Edit Customer Button");
        trackClickByClass("customer-details-button", "Clicked Customer Details Button");
        trackClickByClass("delete-customer-button", "Clicked Delete Customer Button");
        trackClickById("save-customer-button", "Clicked Save Customer Button");
        trackClickById("delete-customer-confirmation-button", "Clicked Delete Customer Confirmation Button");

        // Employee Pages
        trackClickById("create-new-employee-button", "Clicked Create New Employee Button");
        trackClickByClass("edit-employee-button", "Clicked Edit Employee Button");
        trackClickByClass("employee-details-button", "Clicked Employee Details Button");
        trackClickByClass("delete-employee-button", "Clicked Delete Employee Button");
        trackClickById("save-employee-button", "Clicked Save Employee Button");
        trackClickById("delete-employee-confirmation-button", "Clicked Delete Employee Confirmation Button");
    </script>
</body>
</html>
